@import url("dycalendar.min.css");

body.halloween
{
  background-image: none;
  background-color: darkorange;
  color: white;
  transition: background-color 0.3s;
  transition: background-image 0.3s;
}

/*This is unique to this theme*/
body.halloween .sched-img{
 position: fixed;
 margin-bottom: -3px;
}
body.halloween .period-display{

  color: white;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 30px white, 0 0 30px white;
  }
}

body.halloween .timer{
  color: rgb(180,180,180);
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
body.halloween .container1{
color: rgb(220,60,60);

  transition: background-color 0.3s;
}
body.halloween .container2{
color: rgb(220,60,60);
  transition: background-color 0.3s;
}
body.halloween .featuredSportSplash{
color: rgb(220,60,60);
}

body.halloween .dycalendar-month-container{
color: rgb(220,60,60);
}

body.halloween .dycalendar-month-container .dycalendar-target-date,.dycalendar-month-container .dycalendar-today-date
{
color: rgb(220,60,60);
}

body.halloween a:link
{
  color: white;
}

body.halloween a:visited
{
  color: white;
}

body.halloween a:hover
{
  color: darkgray;
}

body.halloween a:active {
  color: darkgray;
}

body.halloween .header
{
  background-color: black;
  transition: background-color 0.3s;
text-align: center;
}

body.halloween .header a
{
  color: white;
}

body.halloween .slider
{
  background: RGB(40,40,40,0.95);
  transition: all 0.3s;
}
body.halloween .slider li a
{
  color: RGB(255,255,255);
}
body.halloween .slider li a:hover
{
  background: RGB(20,20,20,0.7);
  color: darkgray;
}
body.halloween .slider .close-sidebar:hover
{
  background: RGB(20,20,20,0.7);
}

body.halloween .national-guard-banner
{
  background: RGB(30,30,30,0.98);
}
body.halloween .national-guard-banner a
{
  color: RGB(255,255,255);
}
body.halloween .national-guard-banner a:hover
{
  color: RGB(160,160,160);
}
body.halloween .national-guard-banner .container .close-sidebar:hover
{
  background: RGB(15,15,15,0.7);
}

body.halloween .ham-a
{
  background-color: rgb(0,0,0);
  transition: background-color 0.3s;
}
body.halloween #ham-switch{
  content: url("../images/full-moon.png") !important;
}
body.halloween .ham-a:hover
{
  background-color: rgb(60,60,60);

}

body.halloween .time-schedule
{
  color: black;
  background-color:#191919;
  transition: background-color 0.3s;
}

body.halloween .period-countdown
{
  color: white;
  transition: background-color 0.3s;
}

body.halloween .remaining-time
{
  color: white;
  transition: background-color 0.3s;
}

body.halloween .dot
{
  background-color:black;
  -webkit-animation: glow-b 1s ease-in-out infinite alternate;
  -moz-animation: glow-b 1s ease-in-out infinite alternate;
  animation: glow-b 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow-b {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #000000, 0 0 30px black, 0 0 40px black, 0 0 50px black, 0 0 60px black, 0 0 70px black;
  }
  to {
    box-shadow: 0 0 20px #fff, 0 0 30px black, 0 0 40px black, 0 0 50px black, 0 0 60px black, 0 0 30px black, 0 0 30px black;
  }
}
body.halloween .dot-cur
{
  background-color:orange;
  transition: background-color 0.3s;
  -webkit-animation: glow-o 1s ease-in-out infinite alternate;
  -moz-animation: glow-o 1s ease-in-out infinite alternate;
  animation: glow-o 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow-o {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px orange, 0 0 40px orange, 0 0 50px orange, 0 0 60px orange, 0 0 70px orange;
  }
  to {
    box-shadow: 0 0 20px #fff, 0 0 30px orange, 0 0 40px orange, 0 0 50px orange, 0 0 60px orange, 0 0 30px orange, 0 0 30px orange;
  }
}
body.halloween .dot:hover {
  background-color: darkgray;
}


body.halloween .splash {
  color: black;
  background-color:white;
  transition: background-color 0.3s;
}

body.halloween .splash a
{
  color: gray;
}
body.halloween .splash a:hover
{
  color: dimgray;
}

body.halloween .btn {
  color: darkorange;
  background-color:white;
  background-color:#191919;
  transition: all 0.3s;
}
body.halloween .btn:hover {
  color: orange;
  background-color:lightgray;
  background-color:RGB(50,50,50);
  transition: all 0s;
transition: all 0s;
-webkit-animation: glow-o 1s ease-in-out infinite alternate;
-moz-animation: glow-o 1s ease-in-out infinite alternate;
animation: glow-o 1s ease-in-out infinite alternate;
}

body.halloween .lunchBtn
{
  color:white;
  background-color:black;
  transition: all 0.3s;
}
body.halloween .lunchBtn:hover
{
  color:gainsboro;
  background-color:RGB(50,50,50);
  transition: all 0s;
  -webkit-animation: glow-o 1s ease-in-out infinite alternate;
  -moz-animation: glow-o 1s ease-in-out infinite alternate;
  animation: glow-o 1s ease-in-out infinite alternate;
}

body.halloween .wrongLunchBtn
{
  color:white;
  background-color:black;
  transition: all 0.3s;
}
body.halloween .wrongLunchBtn:hover
{
  color:gainsboro;
  background-color:RGB(50,50,50);
  transition: all 0s;
  -webkit-animation: glow-o 1s ease-in-out infinite alternate;
  -moz-animation: glow-o 1s ease-in-out infinite alternate;
  animation: glow-o 1s ease-in-out infinite alternate;
}

body.halloween footer
{
  color: RGB(255,255,255);
  background-color: #191919;
  transition: background-color 0.3s;
}

body.halloween .container1
{
  background: RGB(10,10,10);
  color: rgb(180,180,180);
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  transition: color 0.3s;
}

body.halloween .container2
{
  color: rgb(180,180,180);
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  background: RGB(10,10,10);
  transition: color 0.3s;
}

body.halloween .containerGreyRim{
  background: RGB(10,10,10);
  transition: background-color 0.3s;
}

body.halloween .containerRim{
  background: #FFF;
  transition: background-color 0.3s;
}

body.halloween .featuredSportSplash
{
  color: rgb(180,180,180);
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  background: RGB(10,10,10);
  transition:color 0.3s;
}

body.halloween .dycalendar-month-container
{
  color: rgb(250,250,250);
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  transition: color 0.3s;
}

body.halloween .dycalendar-month-container .dycalendar-target-date,.dycalendar-month-container .dycalendar-today-date
{
  color: rgb(250,250,250);
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  background: RGB(0,0,0);
  transition: color 0.3s;
}


@font-face
{
  font-family: "anton";
  src: url(www.fhsched.com/fonts/Anton-Regular.ttf);
  font-style: normal;
  font-weight: 100;
}

body.halloween .about-header
{
  background-color:white;
  color: black;
}
body.halloween .team
{
  background-color:rgb(255,255,255);
  color: black;
}
