body
{
  background: red;
  color: white;
  text-align: center;
}
div
{
  position: relative;
  display: block;
  text-align:center;
  margin: auto;
}
img
{
  margin: 100px;
  width:80%;
  border-radius: 10%;
}
a
{
  position: relative;
  display: block;
  font-family: "anton";
  font-size: 50px;
  text-decoration: none;
  letter-spacing: 5px;
  margin: 10px auto;
  width: fit-content;
  color: black;
  background: RGB(210,210,210);
  border-radius: 15px;
  padding: 10px 50px;
}
a:hover
{
  background: RGB(170,170,170);
}