body.template
{
  background-image: url("../images/background.png");
  background-color: RGB(255,255,255);
  color: RGB(0,0,0);
  transition: background-color 0.3s;
  transition: background-image 0.3s;
}

body.template a:link
{
  color: RGB(0,0,0);
}

body.template a:visited
{
  color: RGB(0,0,0);
}

body.template a:hover
{
  color: RGB(105,105,105);
}

body.template a:active {
  color: RGB(105,105,105);
}

body.template .header
{
  background: RGB(50,50,50);
  transition: background-color 0.3s;
}
body.template .header a
{
  color: RGB(255,255,255);
}

body.template .slider
{
  background: RGB(40,40,40,0.95);
  transition: all 0.3s;
}
body.template .slider li a
{
  color: RGB(255,255,255);
}
body.template .slider li a:hover
{
  background: RGB(20,20,20,0.7);
  color: darkgray;
}
body.template .slider .close-sidebar:hover
{
  background: RGB(20,20,20,0.7);
}

body.template .national-guard-banner
{
  background: RGB(30,30,30,0.98);
}
body.template .national-guard-banner a
{
  color: RGB(255,255,255);
}
body.template .national-guard-banner a:hover
{
  color: RGB(160,160,160);
}
body.template .national-guard-banner .container .close-sidebar:hover
{
  background: RGB(15,15,15,0.7);
}


body.template .ham-a
{
  background: RGB(50,50,50);
  transition: background-color 0.3s;
}
body.template .ham-a:hover
{
  background: RGB(30,30,30);
}

body.template .time-schedule
{
  color: RGB(0,0,0);
  background: RGB(210,210,210);
  transition: background-color 0.3s;
}

body.template .period-countdown
{
  color: RGB(0,0,0);
  transition: background-color 0.3s;
}

body.template .remaining-time
{
  color: RGB(0,0,0);
  transition: background-color 0.3s;
}

body.template .timer
{
  color: RGB(0,0,0);
}

body.template .dot
{
  background: RGB(255,255,255)
  transition: background-color 0.3s;
}
body.template .dot-cur
{
  background: RGB(0,0,0);
  transition: background-color 0.3s;
}
body.template .dot:hover {
  background: RGB(130,130,130);
}

body.template .splash {
  color: black;
  background: RGB(210,210,210);
  transition: background-color 0.3s;
}

body.template .splash a
{
  color: RGB(130,130,130);
}
body.template .splash a:hover
{
  color: RGB(100,100,100);
}

body.template .btn
{
  color: RGB(0,0,0);
  background: RGB(210,210,210);
  transition: all 0.3s;
}
body.template .btn:hover
{
  color: RGB(0,0,0);
  background: RGB(170,170,170);
}

body.template .lunchBtn
{
  color: RGB(255,255,255);
  background: RGB(100,100,100);
  transition: background-color 0.3s;
}
body.template .lunchBtn:hover
{
  color: RGB(200,200,200);
  background: RGB(70,70,70);
}

body.template .wrongLunchBtn
{
  color: RGB(255,255,255);
  background: RGB(100,100,100);
  transition: background-color 0.3s;
}
body.template .wrongLunchBtn:hover
{
  color: RGB(200,200,200);
  background: RGB(70,70,70);
}

body.template footer
{
  background-color: RGB(180,180,180);
  transition: background-color 0.3s;
}

@font-face
{
  font-family: "anton";
  src: url(www.fhsched.com/fonts/Anton-Regular.ttf);
  font-style: normal;
  font-weight: 100;
}

body.template .about-header
{
  background-color:rgb(210,210,210);
  color: RGB(255,255,255);
}
body.template .team
{
  background-color:rgb(210,210,210);
  color: RGB(255,255,255);
}