body{
  background: #F00;
  padding:0;
  margin: 0;

}
.container{
  color: #FFF;
  font-family:cursive ;
  font-size: 1.2em;
  position: relative;
left: 949px;
top:20px;
 width: 100px;
 height: 75px;
 background: #aaa;
 text-align: center;
}
.container h1{
  position:absolute;
  text-align: center;
  word-wrap: break-word;
}
.containerRim{
  position: absolute;
  background: #FFF;
  width:106px;
  height:154px;
  left:946px;
  top:18px;
}
