body
{
  background: red;
  color: white;
  text-align: center;
}
h1
{
  font-family: "anton";
  font-size: 200px;
  letter-spacing: 10px;
  margin: 100px 0 0;
}
h2
{
  font-family: "anton";
  font-size: 50px;
  letter-spacing: 5px;
  margin: 0 0 30px;
}
a
{
  font-family: "anton";
  font-size: 50px;
  text-decoration: none;
  letter-spacing: 5px;
  margin: 0;
  color: black;
  background: RGB(210,210,210);
  border-radius: 15px;
  padding: 10px 50px;
}
a:hover
{
  background: RGB(170,170,170);
}