@import url("dycalendar.min.css");

body.cherry
{
  background-image: none;
  background-color: red;
  color: white;
  transition: background-color 0.3s;
  transition: background-image 0.3s;
}


body.cherry .container1{
color: rgb(220,60,60);

  transition: background-color 0.3s;
}
body.cherry .container2{
color: rgb(220,60,60);
  transition: background-color 0.3s;
}
body.cherry .featuredSportSplash{
color: rgb(220,60,60);
}

body.cherry .dycalendar-month-container{
color: rgb(220,60,60);
}

body.cherry .dycalendar-month-container .dycalendar-target-date,.dycalendar-month-container .dycalendar-today-date
{
color: rgb(220,60,60);
}

body.cherry a:link
{
  color: white;
}

body.cherry a:visited
{
  color: white;
}

body.cherry a:hover
{
  color: darkgray;
}

body.cherry a:active {
  color: darkgray;
}

body.cherry .header
{
  background-color: rgb(100,0,0);
  transition: background-color 0.3s;
}

body.cherry .header a
{
  color: white;
}

body.cherry .slider
{
  background: RGB(40,40,40,0.95);
  transition: all 0.3s;
}
body.cherry .slider li a
{
  color: RGB(255,255,255);
}
body.cherry .slider li a:hover
{
  background: RGB(20,20,20,0.7);
  color: darkgray;
}
body.cherry .slider .close-sidebar:hover
{
  background: RGB(20,20,20,0.7);
}

body.cherry .national-guard-banner
{
  background: RGB(30,30,30,0.98);
}
body.cherry .national-guard-banner a
{
  color: RGB(255,255,255);
}
body.cherry .national-guard-banner a:hover
{
  color: RGB(160,160,160);
}
body.cherry .national-guard-banner .container .close-sidebar:hover
{
  background: RGB(15,15,15,0.7);
}

body.cherry .ham-a
{
  background-color: rgb(100,0,0);
  transition: background-color 0.3s;
}
body.cherry .ham-a:hover
{
  background-color: rgb(60,0,0);
}

body.cherry .time-schedule
{
  color: red;
  background-color:white;
  transition: background-color 0.3s;
}

body.cherry .period-countdown
{
  color: white;
  transition: background-color 0.3s;
}

body.cherry .remaining-time
{
  color: white;
  transition: background-color 0.3s;
}

body.cherry .dot
{
  background-color:gray;
}
body.cherry .dot-cur
{
  background-color:firebrick;
  transition: background-color 0.3s;
}
body.cherry .dot:hover {
  background-color: darkgray;
}

body.cherry .splash {
  color: red;
  background-color:white;
  transition: background-color 0.3s;
}

body.cherry .splash a
{
  color: gray;
}
body.cherry .splash a:hover
{
  color: dimgray;
}

body.cherry .btn {
  color: red;
  background-color:white;
  transition: all 0.3s;
}
body.cherry .btn:hover {
  color: darkred;
  background-color:lightgray;
  transition: all 0s;
}

body.cherry .lunchBtn
{
  color:white;
  background-color:darkred;
  transition: all 0.3s;
}
body.cherry .lunchBtn:hover
{
  color:gainsboro;
  background-color:RGB(120,0,0);
  transition: all 0s;
}

body.cherry .wrongLunchBtn
{
  color:white;
  background-color:darkred;
  transition: all 0.3s;
}
body.cherry .wrongLunchBtn:hover
{
  color:gainsboro;
  background-color:RGB(120,0,0);
  transition: all 0s;
}

body.cherry footer
{
  color: RGB(255,255,255);
  background-color: dimgray;
  transition: background-color 0.3s;
}

@font-face
{
  font-family: "anton";
  src: url(www.fhsched.com/fonts/Anton-Regular.ttf);
  font-style: normal;
  font-weight: 100;
}

body.cherry .about-header
{
  background-color:rgb(255,255,255);
  color: red;
}
body.cherry .team
{
  background-color:rgb(255,255,255);
  color: red;
}
